/* MOBILE FIRST DESIGN */

body {
  height: 100vh;
  margin: 0;
  padding: 0;
  background: url('https://images.unsplash.com/photo-1503435980610-a51f3ddfee50?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.watermark {
  position: absolute;
  font-size: 12px;
  bottom: 45px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  background: white;
  padding: 5px 0px;
  border-radius: 10px;
  max-width: 200px;
  text-align: center;
  -webkit-box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.1); 
  box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.1);
  transition: 250ms ease-out;
}

.watermark:hover {
  background: rgb(10, 10, 10);
  color: white;
  transition: 250ms ease-out;
}

.watermark a {
  text-decoration: none;
  color: rgb(43, 146, 47);
  font-weight: bold;
}
  
.App {
  background: white;
  margin: 0;
  padding: 0;
  border-radius: 15px;
  -webkit-box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.1); 
  box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.1);
}

h1 {
  margin: 0;
  padding: 0;
}

.card-left {
  padding: 50px 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-left form {
  display: flex;
  flex-direction: column;
  margin: 15px 0 0 0;
  width: 70%;
}

.card-right {
  display: none;
  position: relative;
}

.social-media-login-list {
  display: flex;
  list-style: none;
  margin: 30px 0 30px 0;
  padding: 0;
}

.social-media-login-list li {
  margin: 0 10px;
  padding: 0;
}

.social-media-login-list li img {
  width: 15px;
  height: 15px;
  border: 1px solid black;
  border-radius: 50%;
  padding: 7.5px;
}

.card-left form {
  display: flex;
  flex-direction: column;
  margin: 15px 0 0 0;
  width: 95%;
}

.card-left p {
  margin: 0;
  padding: 0;
}

.card-left form input {
  margin: 7.5px 0;
  padding: 15px 15px;
  border-radius: 10px;
  border: 1.5px solid #dbdcdc;
  background: #F7F8F9;
}

.checkox-container {
  display: flex;
  align-items: center;
  margin-top: 5px;
}

#form-Checkbox {
  width: 20px;
  height: 20px;
  margin-right: 15px;
}

label {
  font-size: 14px;
}

label a {
  color: rgb(57, 190, 61);
  font-weight: bold;
  text-decoration: none;
}

.form-buttons {
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
}

.form-buttons button {
  padding: 15px 40px;
  font-weight: bold;
  border-radius: 7.5px;
}

.solid {
  background: rgb(43, 146, 47);
  color: white;
  border: rgb(43, 146, 47);
}

.light{
  background: none;
  border: 2px solid rgb(43, 146, 47);
  color: rgb(43, 146, 47);
}

.SoMeIcon {
  width: 20px;
  height: 20px;
  border: 2px solid black;
  padding: 7.5px;
  border-radius: 50%;
  transition: 150ms ease-out;
}

.SoMeIcon:hover {
  transition: 150ms ease-out;
  color: white;
  cursor: pointer;
}

.googleIcon:hover {
  border: 2px solid #E24134;
  background: #E24134;
}

.facebook-fIcon:hover {
  border: 2px solid #4867AA;
  background: #4867AA;
}

.instagramIcon:hover {
  border: 2px solid #D62778;
  background: #D62778;
}

.githubIcon:hover {
  border: 2px solid #333;
  background: #333;
}

/* MEDIA QUERIES FOR TABLETS AND SMALL LAPTOPS */
@media all and (min-width: 1024px) {
  body {
    background: rgb(242, 242, 242);
  }

  .App {
  display: flex;
  flex-direction: row;
  width: 768px;
  overflow: hidden;
  }

  .card {
    width: 50%;
  }

  .card-right {
    display: block;
    background: url('https://images.unsplash.com/photo-1503435980610-a51f3ddfee50?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80');
    background-size: cover;
    background-position: center;
  }

  .form-buttons button {
  padding: 15px 55px;
  } 
}

/* MEDIA QUERIES FOR BIGGER SCREENS */
@media all and (min-width: 1264px) {
.App {
  width: 1024px;
  }

  .card {
    width: 50%;
  }

  .card-left {
    padding: 50px 100px
  }

  .form-buttons button {
  padding: 15px 65px;
  } 
}